@font-face {
  font-family: 'Cabin';
  src: url('/fonts/Cabin-Medium.ttf');
}

* {
  font-family: 'Cabin', sans-serif;
  letter-spacing: 0.18px;
  font-weight: 400;
}

:root {
  --white: #F6F6F6;
  --black: #1E1E1E;
  --dark-gray: #1e1e1e99;
  --gray: #1e1e1e61;
  --light-gray: #1e1e1e1f;
  --lighter-gray: #EBEBEB;
  --red: #FF0000;
  --orange: #FF5436;
  --yellow: #FF912B;
  --purple: #4D00AF;
  --cols: 5;
  --font-size: max(16px, 1vw);

  --about-contents-padding: 16vw;
}

body {
  height: 100vh;
  margin: 0;

  font-style: normal;
  font-size: var(--font-size);
  color: var(--black);

  background-color: var(--white);
  scroll-behavior: smooth;

  --font-3: .675em;
  --font-2: .75em;
  --font-1: .875em;
  --font0: 1em;
  --font1: 1.25em;
  --font2: 1.5em;
  --font3: 1.75em;
  --font4: 2em;
  --font5: 2.25em;
  --font6: 2.5em;
  --font7: 3em;

  --padding-details-page: 8vw;
}

body[mobile] {
  --mobile-width: 100%;
  
  --font-3: 11px;
  --font-2: 14px;
  --font-1: 14px;
  --font0: 14px;
  --font1: 16px;
  --font2: 18px;
  --font3: 20px;
  --font4: 2em;

  --big-photo: 50vw;
  --about-contents-padding: 2vw;
  --padding-details-page: 4vw;
}

@media only screen and (max-width: 1279px) {
  :root {
    --font-size: 14px;
    --cols: 4;
    --about-contents-padding: 12vw;
  }
}

@media only screen and (max-width: 1100px) {
  :root {
    --cols: 3;
    --about-contents-padding: 5vw;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    --cols: 2;
    --font-size: 12px;
    --about-contents-padding: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --cols: 2;
    --font-size: 9px;
  }
}

@media only screen and (max-width: 410px) {
  :root {
    --font-size: 7px;
  }
}

header {
  padding: max(3.875em, 30px) 4.5em max(5em, 40px);
}

main {
  margin: 0 auto;
  padding: 0 0 10em;

  > * {
    margin-inline: auto;
  }
}

.clickable {
  cursor: pointer;
  transition: 150ms;
}

.clickable:hover {
  opacity: .85;
}

button {
  padding: .5em .75em;
  background-color: var(--red);
  border: 1px solid var(--red);
  border-radius: 4px;
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
  font-size: var(--font0);
  font-weight: 500;
  letter-spacing: 1.25px;
  transition: .25s ease;
  white-space: nowrap;
}

body[mobile] button {
  font-size: 11px;
}

button[data-secondary="true"] {
  background-color: var(--white);
  color: var(--gray);
  border-color: var(--gray);
}

button[data-tertiary] {
  background-color: var(--yellow);
  border-color: var(--yellow);
}

button:hover,
button[data-tertiary]:hover,
button[data-secondary="true"]:hover {
  background-color: var(--purple);
  border-color: var(--purple);
  color: var(--white);
}

@media (hover: none) {
  button:hover {
    background-color: inherit !important;
    color: inherit !important;
  }
}

.capt {
  text-transform: capitalize;
}

.spacer {
  flex-grow: 1;
}
